<section id="feedback">
  <h3>Tu Opinión es importante</h3>
  <p>Ayúdanos a mejorar para tí.</p>

  <form id="feedback-form">
    <label for="name">Nombre:</label>
    <input type="text" id="name" name="name" placeholder="Tu nombre" required />
    <label for="message" class="sr-only">Comentario:</label>
    <textarea
      id="message"
      name="message"
      placeholder="Escribe tu feedback"
      required
    ></textarea>
    <button type="submit">Enviar</button>
  </form>

  <div id="feedback-container" class="grid"></div>
</section>
